:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --online: #77dd77;
  --dnd: #ff6961;
  --idle: #fdfd96;
  --offline: #cfcfc4;
  --text: #e0def4;
  --muted: #908caa;
  --love: #eb6f92;
  --gold: #f6c177;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
}
